[Unit]
Wants=artifactory.service

[Service]
Type=simple
User=octoenot
Group=octoenot
Environment=HOME=/home/octoenot
Environment=SHELL=/bin/bash
WorkingDirectory=/home/octoenot/
ExecStart=/opt/octoenot/_rel/octoenot/bin/octoenot foreground
ExecStop=/opt/octoenot/_rel/octoenot/bin/octoenot stop
ExecReload=/opt/octoenot/_rel/octoenot/bin/octoenot restart
Restart=always

[Install]
WantedBy=multi-user.target
